<section>
	<h1>{{ 'customer.dashboard.title' | t }}</h1>

	<h2>{{ 'customer.dashboard.orders' | t }}</h2>
	{% paginate customer.orders by 20 %}
		{% if customer.orders.size != 0 %}
			<div>
				<table>
					<thead>
						<tr>
							<th>{{ 'customer.orders.number' | t }}</th>
							<th>{{ 'customer.orders.payment_status' | t }}</th>
							<th>{{ 'customer.orders.fulfillment_status' | t }}</th>
							<th>{{ 'customer.orders.total' | t }}</th>
						</tr>
					</thead>
					<tbody>
						{% for order in customer.orders %}
							<tr>
								<td>
									<a href="{{ order.customer_url }}">{{ order.name }}</a>
									<p>{{ order.created_at | date: format: 'date' }}</p>
								</td>
								<td>{{ order.financial_status_label }}</td>
								<td>{{ order.fulfillment_status_label }}</td>
								<td>{{ order.total_price | money }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p>{{ 'customer.orders.none' | t }}</p>
		{% endif %}
	
		{% if paginate.pages > 1 %}
			{% render 'pagination', paginate: paginate %}
		{% endif %}
	{% endpaginate %}
</section>
