<h1>{{ 'customer.activate.title' | t }}</h1>
<p>{{ 'customer.activate.text' | t }}</p>

{% form 'activate_customer_password' %}
	{{ form.errors | default_errors }}

	<p>
		<label for="CustomerPassword">{{ 'customer.activate.password' | t }}</label>
		<input type="password" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate.password' | t }}">
	</p>

	<p>
		<label for="CustomerPasswordConfirmation">{{ 'customer.activate.password_confirm' | t }}</label>
		<input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate.password_confirm' | t }}">
	</p>

	<input type="submit" value="{{ 'customer.activate.submit' | t }}">
	<input type="submit" name="decline" value="{{ 'customer.activate.cancel' | t }}">
{% endform %}
