<section>
  <h1>{{ 'customer.register.title' | t }}</h1>
  
  <div class="form-ctn">
	{% form 'create_customer' %}
		{{ form.errors | default_errors }}
	
		<label for="FirstName">{{ 'customer.register.form.first_name' | t }}</label>
		<input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.form.first_name' | t }}" autofocus {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
	
		<label for="LastName"> {{ 'customer.register.form.last_name' | t }}</label>
		<input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.form.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
	
		<label for="Email">{{ 'customer.register.form.email' | t }}</label>
		<input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %}input-error{% endif %}" placeholder="{{ 'customer.register.form.email' | t }}" value="{% if form.email %}{{ form.email }}{% endif %}" spellcheck="false" autocapitalize="off">
	
		<label for="CreatePassword">{{ 'customer.register.form.password' | t }}</label>
		<input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %}input-error{% endif %}" placeholder="{{ 'customer.register.form.password' | t }}">
		
		<button type="submit">{{ 'customer.register.form.submit' | t }}</button>
	{% endform %}
  </div>
</section>
