<!doctype html>
<html lang="{{ request.locale.iso_code }}">
	<head>
		<title>{{ page_title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="{{ page_description | escape }}">
		<link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
		{% render 'opengraph' %}
		<link rel="canonical" href="{{ canonical_url }}">
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		{{ content_for_header }}
		{% render 'css' %}
		<script type="application/json" class="js-locales">
			[
			{% for locale in shop.published_locales %}
				{
					"url": {{ locale.root_url | json }},
					"iso": {{ locale.iso_code | json }},
					"default": {{ locale.primary | json }}
				}{% if forloop.last != true %},{% endif %}
			{% endfor %}
			]
		</script>
	</head>
	<body class="{{ template.name }} {{ template.suffix }}">
		<div id="site">
			{% render 'header' %}

			<main>
				{{ content_for_layout }}
			</main>

			{% render 'footer' %}
		</div>
		{% render 'js' %}
		<script>
			(() => {
				'use strict';
				App.debug(true);
				App.run('#site');
			})();
		</script>
		{% render 'store-schemas' %}
	</body>
</html>
